@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light|Oswald|Permanent+Marker');

html, h1, h2, p {
  font-family: 'Shadows Into Light', cursive;
  color: White;
}

header{
  text-align: center;  
background-image: url("Photo/darkBackground.jpg");
  font-size: 20
}

img{
margin-left: auto;
margin-right: auto;
width: 50%;
border-radius: 50%;
size: 70%;
}



h3{
text-align: center;
}

body{
  background-image: url("Photo/darkImage.webp");
  text-align: center;
  margin: auto;
}

footer{
width: 400px;
margin: auto;
padding: 10px;
}

main, {
  width: 300px;
  margin: auto;
  padding: 10px;
}


