@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light|Oswald|Permanent+Marker');

html, h1, h2, p {
  font-family: 'Shadows Into Light', cursive;
  color: DarkRed;
}

header{
  text-align: center;  
background-image: url("Photo/darkBackground.jpg");
}

img{
margin-left: auto;
margin-right: auto;
width: 50%;
border-radius: 50%;
size: 50%
}



h3{
text-align: center;
}

body{
  background-image: url("Photo/darkImage.webp");
  text-align: center;
  margin: 50
}

footer{
text-align: center}


